

.lesli-navbar.unresponsive {
    display: flex;

    .container {
        display: flex;
    }

    .navbar-brand .navbar-burger {
        display: none;
    }

    .navbar-menu {
        display: flex;
        flex-grow: 1;
        justify-content: flex-end;

        .navbar-end {
            display: flex;
            justify-content: flex-end;
        }
    }
}
